:root {
  --ifm-color-primary: #663399;
  --ifm-color-primary-dark: #663399;
  --ifm-color-primary-darker: #663399;
  --ifm-color-primary-darkest: #663399;
  --ifm-color-primary-light: #663399;
  --ifm-color-primary-lighter: #663399;
  --ifm-color-primary-lightest: #663399;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-code-font-size: 95%;
  --ifm-navbar-height: 50px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8e47d6;
  --ifm-color-primary-dark: #8e47d6;
  --ifm-color-primary-darker: #8e47d6;
  --ifm-color-primary-darkest: #8e47d6;
  --ifm-color-primary-light: #8e47d6;
  --ifm-color-primary-lighter: #8e47d6;
  --ifm-color-primary-lightest: #8e47d6;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.extras { display: none; }
a:hover {
  color: var(--ifm-font-color-base);
}
.col  {
  /*display: flex;
  justify-content: center;*/
}
nav.navbar {
  /*position: fixed;
  top: unset;
  bottom: 0;
  width: 100%;
  height: var(--ifm-navbar-height);*/
}
main { 
  padding-top: 6em;
  padding-bottom: calc(var(--ifm-navbar-height) + 1em) !important;
}
.contact-section { padding-top: 1rem; }
.multi-col-list {
    list-style-type: none;
    width: 33%;
}
ul {
    margin-block-start: -0.7em;
}
ul.menu__list {
    margin-block-start: 1em;
}
.full-width { width: 100%; display: flex; }
